@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Manrope", "Instrument Sans", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-red-50: #ffeff0;
    --color-red-100: #ffdcde;
    --color-red-200: #ffbfc3;
    --color-red-300: #ff9299;
    --color-red-400: #ff545f;
    --color-red-500: #ff1f2d;
    --color-red-600: #ff0010;
    --color-red-700: #db000e;
    --color-red-800: #c2000c;
    --color-red-900: #940811;
    --color-red-950: #520005;

    --color-red-secondary: #ffd3d3;
}

.line-clamp-5 {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
